.content {
  padding: 50px 50px;
  background-color: $bg-darker;
}

.content-title {
  padding: 10px 15px;
  line-height: 1.6em;

  border: 3px solid $color;

  font-size: 1.6em;

  display: table;
  margin: 0 auto;
  margin-bottom: 20px;

  &:hover {
    background-color: lighten($bg, 5%);
  }
}

.entry {
  margin-bottom: 20px;
}

.entry-title {
  border-bottom: 3px solid $color;
  padding-bottom: 2px;
  margin: 15px 0;
}

.entry-content {
  color: white;
  text-transform: none;

  .desc {
    margin-left: 26px;
  }

  & * {
    color: white;
    text-transform: none;
    line-height: 1.2em;
  }

  ul {
    list-style-type: none;

    li {
      margin-bottom: 5px;
    }
  }
}

.icon {
  height: 1em;
  width: 1em;
  padding-right: 5px;
}