footer {
  line-height: 1.2em;
  overflow: auto;

  padding: 30px 50px 10px 50px;

  .c50 {
    float: left;
    width: 50%;
    padding: 5px;
  }
  .c25 {
    float: left;
    width: 25%;
    padding: 10px;
  }

  img {
    width: 100%;
  }
}